.start_btn {
	position: absolute;
	font-size: 2rem;
	z-index: 2;
	padding: 1rem 2rem;
	border: 1px solid #555;
	background-color: #5080d0;
	border-radius: 2rem;
	color: whitesmoke;
	cursor: pointer;
	left: 33.333%;
	top: 86%;
}

.start_btn:hover,
.start_btn:active {
	background-color: #70a0f0;
	border-color: #5080d0;
}

.flap_btn {
	display: none;
	position: absolute;
	font-size: 1.75rem;
	z-index: 2;
	padding: 0.5rem 1rem;
	border: 1px solid #555;
	background-color: #5080d0;
	border-radius: 2rem;
	color: whitesmoke;
	cursor: pointer;
	left: 39%;
	top: 88%;
}

.flap_btn:hover {
	background-color: #70a0f0;
	border-color: #5080d0;
}

#game {
	display: block;
	margin: 0 auto;
	top: 10rem;
	width: 400px;
	height: 600px;
	overflow: hidden;
}
.game_container {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.background_animate {
	animation: bg_slide 15s linear infinite;
	animation-play-state: paused;
}

.foreground_animate {
	animation: ground-slide 5s linear infinite;
	animation-play-state: paused;
}

@keyframes bg_slide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-864px, 0, 0);
	}
}

@keyframes ground-slide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-672px, 0, 0);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
}

.background {
	height: 600px;
	width: 1440px;
	background: url("../assets/img/background-day.png") repeat-x;
}

.ground {
	width: 1344px;
	height: 112px;
	background: url("../assets/img/base.png") repeat-x;
	position: absolute;
	bottom: 0;
}

.bird {
	display: block;
	position: absolute;
	bottom: 350px;
	left: 80px;
	border-radius: 15px;
	z-index: 100;
}

.pipe {
	position: absolute;
	top: 40vh;
	width: 52px;
	height: 780px;
	background: url("../assets/img/pipe-green-full.png");
}

.score {
	position: absolute;
	z-index: 10;
	height: 10vh;
	font-size: 2rem;
	font-weight: 100;
	color: #f8d060;
	top: 5px;
	left: 10px;
}

.highscore {
	text-align: center;
}
